/* body background */
body {
    background-image: url(/img/escheresque.png);
    background-color: #dfdfdf;
}

/* container */
.container {
    max-width: 730px;
}

/* jumbotron */
.jumbotron {
    background-color: #ccc;
}
